@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+KR:wght@200&family=Square+Peg&display=swap');
body {
    font-family: 'Noto Serif', serif;
    margin: 0;
    text-align: justify;
}

header{
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 1px black;
    background-image: url(../img/fondo.jpg); 
    height: 100px; /*agrande el background
    background-size: cover;  /*si quiero que cubra el header se muestra una parte de la img*/
    /* background-position: center; 
    background-size: 100%; /*si quiero que se mueste toda queda bajo
    /*background-position: top;*/
    background-repeat: no-repeat;/*ajustar tamanio*/ 
}

.nombrePagina {
    margin-top: 0;/*saque borde superior blanco*/
    margin-bottom: 0;
    text-align: center;
}

span.coreano {
    font-family: 'Noto Serif KR', serif;
}

#btn_menu, ul.navigation{
    color: white; 
    text-transform: uppercase; 
    /*colocarlos en la mitad de la pantalla*/
}

ul.navigation{
    list-style: none;
    display: none;
}

ul.navigation.show {
    display: flex;
    flex-direction: column;
    margin: 0;
}
a{
    text-decoration: none;
}
/*--------- Estilos Index---------------*/
article.articulo{
    margin: 3%;
}
/*--------- Estilos Formulario----------*/
.formulario {
    /*border: 3px solid black;*/
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
}
.inputRegistrarme , .textArea {
    width: 90%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #45484a;
    font-size: 18px;

}
.formulario .textArea {
    height: 50%;
    resize: none;
}
/*--------- Estilos Captcha-----------*/
.ocultar {
    display: none;
}
.numeroIngresado .inputForm{
    width: 30%;
    height: 35px;

}
.captcha {
    width: 90%;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.button{
    height: 30px;

}
.buttonEnviar{
   height: 40px;
   width: 100px;

}
.button, .buttonEnviar {
    background-color: lightpink;
    border-radius: 5px;
}
/*---------- Estilos Tabla------------*/
table#tabla {
    width: 100%;
    display: block; 
    overflow-x: auto; 
}
thead {
    font-family: 'Square Peg', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #45484a; 
}
table tr td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

form.formTabla {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3%;
    
    
}
form.formTabla input {
    margin: 0 auto;
}
input:focus { /*se aplica a todos los inputs inclusive al formulario de registro*/
    border:  1px solid black;
}

/*---------- Estilos Footer------------*/
footer{
   display: block;
}
.copyright {
     margin: 10px ;
     color: gray;
     font-size: 12px;  
}
.redes {
    text-align: center;
}
.redes img {
    height: 30px;
    border-radius: 30px; 
    /*colocar en la mitad*/  

}

@media only screen and (min-width: 660px){
    body {
        border: 20px solid lightpink;
    }
    #btn_menu { /*oculto boton*/
        display: none;
    }
    ul.navigation { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-evenly;
        background-color: lightpink;      
        margin-top: 0;
        padding-top: 10px;
        height: 40px;
    }
 /*------Estilos Formulario----------*/ 
    .formulario { 
        width: 50%;
        border: 3px solid black;
        padding-left: 30px;
    }
    .inputRegistrarme {
        width: 90%;
        height: 40px; 
        margin-bottom: 10px;
    }
    div.captcha{
        border: 2px solid black;
    }
    .numeroIngresado {
        text-align: center;
        
    }
/*--------Estilos Footer-----------*/
    .copyright{
        width: 60%;
    }
}